@import 'tailwindcss';

:root {
  --bg-color: #ffffff;
  --text-color: #000000;
}

body.dark-theme {
  --bg-color: #4a4848;
}

.themed-bg {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.themed-text {
  color: var(--text-color);
}

.themed-input {
  background-color: var(--bg-color);
  color: var(--text-color);
  border-color: var(--text-color);
}